body::-webkit-scrollbar{
    width:0.5em;
}

body::-webkit-scrollbar-track{
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color:transparent;
}

@keyframes blink {
    0% {
        opacity: 1;
        color: yellow;
    }

    100% {
        opacity: 1;
        color: red;
    }
}

.blink-text {
    animation: blink 1s infinite;
}

.wrapper-box {
    position: relative;
    width: 90%;
    height: auto;
    border: 2px solid rgba(46, 44, 44, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.icon-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: #000000;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.pages::-webkit-scrollbar{
    width:0.5em;
}

.pages::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
}

.pages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color:rgb(159, 155, 155);
}

.pages{
    height:350px;
    overflow:hidden;
    overflow-y:scroll;
    scroll-behavior:smooth;
}